doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet/less', type='text/css', href='resources/styles/styles.less')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.3.0/pure-min.css')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
    title Some great name
  body
    #main.pure-g
      header.pure-u-1
        div
          a(href='/')
            h1 Music Review Blog
            h2 music|coding|music|design|music
      article#review.pure-u-2-3
        header.pure-u-23-24
          h1.pure-u-1-2 #{artist} <br> '#{record}'
          time.pure-u-1-2= published
          h2.pure-u-1-2= heading
          div#cover.pure-u-1-3
            img(src='resources/images/covers/1.jpg')
        each paragraph, i in reviewtext
          p= paragraph.paragraph
        section#commentary.pure-u-23-24
          .fontwrapper
            .title.pure-u-1
              h1 #{comments.length} Commments
          each comment, i in comments
            article.comment.darkorange
              header
                time= comment.date
                h2= comment.author
              p= comment.text
      section#rightside.pure-u-1-3
        section
          .fontwrapper
            .title.pure-u-1
              h1 Latest reviews
          a.pure-u-1-2.album.darkorange(href='review')
            img(src='resources/images/covers/1.jpg')
            div
              div
                span yat-kha
                span "tuva.rock"
          a.pure-u-1-2.album.heavenblue(href='review')
            img(src='resources/images/covers/2.jpg')
            div
              div
                span olan mill
                span "hiraeth"
          a.pure-u-1-2.album.turquoise(href='review')
            img(src='resources/images/covers/3.jpg')
            div
              div
                span yndi halda
                span "enjoy eternal bliss"
          a.pure-u-1-2.album.lightorange(href='review')
            img(src='resources/images/covers/4.jpg')
            div
              div
                span songs:ohia
                span "magnolia electric co"
        section
          .fontwrapper
            .title.pure-u-1
              h1 We recommend
          a.pure-u-1-2.album.turquoise(href='review')
            img(src='resources/images/covers/5.jpg')
            div
              div
                span virus
                span "the agent that shapes the desert"
          a.pure-u-1-2.album.lightorange(href='review')
            img(src='resources/images/covers/4.jpg')
            div
              div
                span songs:ohia
                span "magnolia electric co"
          a.pure-u-1-2.album.darkorange(href='review')
            img(src='resources/images/covers/6.jpg')
            div
              div
                span toe
                span "for long tomorrow"
          a.pure-u-1-2.album.heavenblue(href='review')
            img(src='resources/images/covers/7.jpg')
            div
              div
                span elysian blaze
                span "blood geometry"
        section
          .fontwrapper
            .title.pure-u-1
              h1 Social media
          a.pure-u-1-4.social.lightorange
            div
              img(src='resources/images/icons/facebook.svg')
          a.pure-u-1-4.social.heavenblue
            div
              img(src='resources/images/icons/icon-twitter.svg')
          a.pure-u-1-4.social.darkorange
            div
              img(src='resources/images/icons/googleplus.svg')
          a.pure-u-1-4.social.turquoise(href='http://last.fm/user/wearethewinds')
            div
              img(src='resources/images/icons/lastfm.svg')
    script(src='resources/javascript/less-1.3.3.min.js', type='text/javascript')
