doctype html
html
  head
    include minis/headerreferences.jade
    title Some great name
  body
    #main.pure-g
      include minis/header.jade
      article#review.pure-u-2-3
        header.pure-u-23-24
          h1.pure-u-3-4
            | #{review.record.artist}
            br
            | #{review.record.title}
          time.pure-u-1-4 #{review.published}
          h2.pure-u-1-2 #{review.heading}
          #cover.pure-u-1-3
            img(src='#{review.record.coverlores}')
        each paragraph, i in review.reviewtext
          p
            | #{paragraph.paragraph}
        section#commentary.pure-u-23-24
          .fontwrapper
            .title.pure-u-1
              h1  #{review.comments.length} Comments
          each comment, i in review.comments
            article.comment
              header
                time #{comment.date}
                h2 #{comment.author}
              p
                | #{comment.text}
      section#rightside.pure-u-1-3
        section#new
          .fontwrapper
            .title.pure-u-1
              h1 Latest reviews
          each latestreview, i in latestreviews
            a.pure-u-1-2.album(href='/review/#{latestreview.dbrefer}')
              img(src='#{latestreview.record.coverlores}')
              div
                span #{latestreview.record.artist} "#{latestreview.record.title}"
        section#recommendations
          .fontwrapper
            .title.pure-u-1
              h1 We recommend
    include minis/javascript.jade